@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');


body {
  margin: 0;
  width: 100%;
  padding: 0;
  font-family: 'Marhey', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./img/background.jpg");
  
  background-repeat: no-repeat;
  background-size: cover;
}

#root{
  margin: 0;
  padding: 0;
 
}

a{
  text-decoration: none;
  color: unset;
}

header{
  background-color: rgb(253, 247, 247);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(253, 247, 247);
  border-radius: 0 0 100% 100%;
  font-size: 0.6vw;
  box-shadow: 0px 0px 32px -13px rgba(66, 68, 90, 1);
}


#welcome{
  width: 80%;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}

#welcome  h1, h4, p{
  margin: 0;
  padding: 0;
  color: white;
  
}

#welcome p{
  font-size: 1.4vw;
  font-weight: 300;
  text-shadow: 1px 0px rgba(66, 68, 90, 1);
}

#welcome h1{
  font-size: 5vw;
  text-shadow: 3px 0px rgba(66, 68, 90, 1);
}

#welcome h4{
  font-size: 1.8vw;
  letter-spacing: 2px;
  text-shadow: 3px 0px rgba(66, 68, 90, 1);
}

#menu{
  width: 30%;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

#statsBtn{
  background-color: transparent;
  font-family: 'Marhey', sans-serif;
  text-align: center;
  font-size: 1.5vw;
  padding: 2% 5%;
  border: 3px solid white;
  border-radius: 25px;
  color: white;
  text-shadow: 3px 0px rgba(66, 68, 90, 1);
  min-width: 50%;
}

#statsBtn:hover{
  background-color: #59b4df;
  color: white;
}

#startBtn:hover{
  background-color: #59b4df;
  color: white;
}


#startBtn{
  background-color: white;
  min-width: 50%;
  font-family: 'Marhey', sans-serif;
  text-align: center;
  font-size: 1.5vw;
  padding: 2% 5%;
  border: 3px solid white;
  border-radius: 25px;
  color: #59b4df;
  
}

#authors{
  position: absolute;
  bottom: 8px;
  left: 16px;
  opacity: 60%;
}

#playerNameQuiz{
  position: absolute;
  left: 5%;
  top: 40%;
  font-size: 1.6vw;
}

#playerNameAndPkt{
  font-size: 2vw;
}

#quizQuestionContainer{
  width: 70%;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#singleQuestion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 90%;
}

#qTitle{
  color: white;
  font-size: 2em;
  text-shadow: 3px 0px rgba(66, 68, 90, 1);
  margin: 0 0 2% 0;
  padding: 0;
  max-width: 100%;
  max-height: 6vw;
  height: 6vw;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 10.3%;
}

img#questionImg {
  margin: 5% auto 1% auto;
  width: 60%;
}

#answers{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


#answers div{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.4%;
  color: white;
  font-size: 1.5vw;
  padding: 1%;
  border: 4px solid white;
}

#aOne{
  background-color: #687864;
}
#aTwo{
  background-color: #31708E;
}
#aThree{
  background-color: #FF652F;
}
#aFour{
  background-color: green;
}

#wynikiContainer{
  width: 60%;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#wynikiContainer h2{
  color: white;
  text-shadow: 3px 0px rgba(66, 68, 90, 1);
  font-size: 2.5vw;
  margin: 0;
  padding: 0;
}

#wynikiUl{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: decimal;
  font-size: 2.4vw;
  gap: 15px;
  width: 80%;
  margin: 0 ;
  padding: 0;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 3px solid white;
  width: 100%;
  padding: 1% 2%;
  background-color: rgb(81 137 157 / 40%);
  text-shadow: 3px 0px rgba(66, 68, 90, 1);
}


li img{
  width: 20%;
  margin-right: 5%;
}

li div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#userName{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Przeźroczyste tło szare */
  z-index: 999; /* Umieść na wierzchu innych elementów */
  top: 0;
}

#userNameInputContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  color: black;
  text-shadow: 3px 0px rgba(66, 68, 90, 1);
  border: 2px solid rgba(66, 68, 90, 1);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  padding: 3% 1%;
  gap: 33px;
}

#userNameInput{
  width: 70%;
  height: 3vw;
  font-family: 'Marhey', sans-serif;
  text-align: center;
  font-size: 1.5vw;
  padding: 2% 5%;
}

#startUserBtn{
  background-color: #59b4df;
  min-width: 50%;
  font-family: 'Marhey', sans-serif;
  text-align: center;
  font-size: 1.5vw;
  padding: 2% 5%;
  border: 3px solid white;
  border-radius: 25px;
  color: white;
  box-shadow: 0px 0px 32px -15px rgba(66, 68, 90, 1);
  
}

#startUserBtn:hover{
  background-color: #40baf3;
  box-shadow: 0px 0px 32px -9px rgb(0, 0, 0);
}

#quizEndH2{
  font-size: 4vw;
  color: #31708E;
  text-shadow: none;
  margin: 0;
  padding: 0;

}

#quizEndH4{
  font-size: 2vw;
  color: #31708E;
  text-shadow: none;
  margin: 0;
  padding: 0;
}

#QuizEndContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  color: black;
  text-shadow: 3px 0px rgba(66, 68, 90, 1);
  border: 2px solid rgba(66, 68, 90, 1);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  padding: 3% 1%;
  gap: 20px;
}

.quizEndA{
  font-size: 2.3vw!important;
  color:#31708E;
  text-shadow: none;
  background-color: #31708e!important;
}

.quizEndA:hover{
  font-size: 2.3vw!important;
  color:#31708E;
  text-shadow: none;
  background-color: #193b4b!important;
}
