@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');


body {
  margin: 0;
  width: 100%;
  padding: 0;
  font-family: 'Marhey', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./img/background.jpg");
  
  background-repeat: no-repeat;
  background-size: cover;
}

#root{
  margin: 0;
  padding: 0;
 
}

header{
  background-color: rgb(253, 247, 247);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(253, 247, 247);
  border-radius: 0 0 100% 100%;
  font-size: 0.6vw;
  box-shadow: 0px 0px 32px -13px rgba(66, 68, 90, 1);
}


#welcome{
  width: 80%;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}

#welcome  h1, h4, p{
  margin: 0;
  padding: 0;
  color: white;
  
}

#welcome p{
  font-size: 1.4vw;
  font-weight: 300;
  text-shadow: 1px 0px rgba(66, 68, 90, 1);
}

#welcome h1{
  font-size: 5vw;
  text-shadow: 3px 0px rgba(66, 68, 90, 1);
}

#welcome h4{
  font-size: 1.6vw;
  letter-spacing: 1px;
  text-shadow: 3px 0px rgba(66, 68, 90, 1);
}

#menu{
  width: 30%;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

#statsBtn{
  background-color: transparent;
  font-family: 'Marhey', sans-serif;
  text-align: center;
  font-size: 1.5vw;
  padding: 2% 5%;
  border: 3px solid white;
  border-radius: 25px;
  color: white;
  text-shadow: 3px 0px rgba(66, 68, 90, 1);
  min-width: 50%;
}

#statsBtn:hover{
  background-color: #59b4df;
  color: white;
}

#startBtn:hover{
  background-color: #59b4df;
  color: white;
}


#startBtn{
  background-color: white;
  min-width: 50%;
  font-family: 'Marhey', sans-serif;
  text-align: center;
  font-size: 1.5vw;
  padding: 2% 5%;
  border: 3px solid white;
  border-radius: 25px;
  color: #59b4df;
  
}

#authors{
  position: absolute;
  bottom: 8px;
  left: 16px;
  opacity: 60%;
}